main {
    min-height: 750px;
}
.container_flex{
    display: flex;
}

.friend {
    border-radius: 25px;
    padding: 30px;
    margin:50px;
    width: 150px;
    height: 150px;
    background-color: #e0e5ec;
    box-shadow: 6px 6px 12px #b8b9be, -6px -6px 12px #ffffff;
    cursor: grab;
}

h4{
    font-size: 2rem;
}
.picture_friend{
    height: 80%;
}

.best_friend{
    border-bottom: 2px solid black;
}

.best_friend, .casual_friend{
    width: 80%;
    min-height: 80%;
    margin: 20px;
    /* border: solid 2px black */
}