main {
    padding: 20px 150px;
}

.messenger {
    display: flex;
    flex-direction: column;
    padding: 50px;
    border-radius: 5px;
    background-color: #e0e5ec;
    box-shadow: 6px 6px 12px #b8b9be, -6px -6px 12px #ffffff;
}

img {
    width: 200px;
    border-radius: 5px;
    box-shadow: 6px 6px 12px #b8b9be, -6px -6px 12px #ffffff;

}

.profil_messenger {
    text-align: center;
}

.name_messenger {
    font-size: 2rem;
    margin: 0;
}

.section_container {
    display: grid;
    grid-template-columns: 25% 75%;
    justify-items: end;
    gap: 50px;
}

/*Right section*/

.right {
    width: 100%;
}

.discussions {
    align-items: center;
    border-radius: 25px;
    padding: 30px;
    width: 80%;
    background-color: #e0e5ec;
    box-shadow: 6px 6px 12px #b8b9be, -6px -6px 12px #ffffff;
}

.discussion {
    display: flex;
    align-items: center;
    background-color: whitesmoke;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 10px;

}

.picture_discussion {
    height: 50px;
    width: 50px;
    border-radius: 10px;
    margin-right: 15px;
}

.title_discussion,
.name_contact {
    font-weight: 800;
}

.title_discussion {
    font-size: 1.2rem;
    padding-left: 10px;
}

.discussion>button {
    margin-left: auto;
    border: none;
    padding: 5px;
    border-radius: 5px;
    background-color: #e0e5ec;
    box-shadow: 6px 6px 12px #b8b9be, -6px -6px 12px #ffffff;
    cursor: pointer;

}

.message {
    margin: 10px 0;
    display: flex;
    color: rgb(94, 94, 209);
}

.name_author {
    padding-right: 20px;
}

p {
    margin: 0;
}

textarea {
    resize: none;
}