main {
    padding: 20px 150px;
}

.section_container {
    display: grid;
    grid-template-columns: 32% 73%;
    justify-items: end;
    gap: 30px;
}

.messenger {
    display: flex;
    flex-direction: column;
    padding: 30px;
    border-radius: 5px;
    background-color: #e0e5ec;
    box-shadow: 6px 6px 12px #b8b9be, -6px -6px 12px #ffffff;
}

img {
    width: 200px;
    border-radius: 5px;
    box-shadow: 6px 6px 12px #b8b9be, -6px -6px 12px #ffffff;

}

.profil_messenger {
    text-align: center;
}

.name_messenger {
    font-size: 2rem;
    margin: 0;
}

.message{
    display: flex;
    justify-content: space-between;
}

.last_message{
    width: 80%;
    padding: 0 10px;
}



/*Right section*/

.right {
    width: 100%;
}

.discussions {
    width: 450px;
    align-items: center;
    border-radius: 25px;
    padding: 10px;
    background-color: #e0e5ec;
    box-shadow: 6px 6px 12px #b8b9be, -6px -6px 12px #ffffff;
}

.discussion {
    display: flex;
    align-items: center;
    background-color: whitesmoke;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 10px;

}

.title_discussion,
.name_contact {
    font-weight: 800;
}

.title_discussion {
    font-size: 1.2rem;
    padding-left: 10px;
}

.discussion>button {
    margin-left: auto;
    border: none;
    padding: 5px;
    border-radius: 5px;
    background-color: #e0e5ec;
    box-shadow: 6px 6px 12px #b8b9be, -6px -6px 12px #ffffff;
    cursor: pointer;

}

.message {
    margin: 10px 0;
    display: flex;
    color: rgb(94, 94, 209);
}

.name_contact {
    padding-right: 20px;
}

p {
    margin: 0;
}

textarea {
    resize: none;
}

.discussion div p:last-of-type {
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 1439px) {
    
    img {
        width: 150px;
    }
    
    .name_messenger {
        font-size: 1.6rem;
    }

    .short{
        width: 78%;
        padding: 0 5px;
    }
    
    .last_message>.messenger{
        padding: 0 5px;
    }
    
    
    
    /*Right section*/
    
    .discussions {
        width: 350px;
    }
    
    .discussion div p:last-of-type {
        max-width: 200px;
    }
}

@media (max-width: 1023px) {

    img {
        width: 150px;
    }
    
    .name_messenger {
        font-size: 1.6rem;
    }

    .short{
        width: 78%;
        padding: 0 5px;
    }
    
    .last_message>.messenger{
        padding: 0 5px;
    }
    
    
    
    /*Right section*/
    
    .discussions {
        width: 275px;
    }
    
    .discussion div p:last-of-type {
        max-width: 200px;
    }   

}

@media (max-width: 767px) {

    main{
        padding: 20px 0;
    }
    .section_container {
        grid-template-columns: 85%;
        justify-content: center;
    }

    .right{
        width: auto;
    }

    .discussions{
        display: none;
    }
    img {
        width: 150px;
    }
    
    .name_messenger {
        font-size: 1.6rem;
    }

    .short{
        width: 78%;
        padding: 0 5px;
    }
    
    .last_message>.messenger{
        padding: 0 5px;
    }
    
    /*Right section*/
    
    .discussions {
        width: 275px;
    }
    
    .discussion div p:last-of-type {
        max-width: 200px;
    }  
}