body {
    background-color: whitesmoke;
    padding-top: 30px;
}

/*header*/

header {
    padding-bottom: 40px;
}

.title {
    color: rgba(255, 166, 0, 0.61);
    font-size: 2.5rem;

}

.nav-bar>ol {
    display: flex;
    flex-direction: row;
    justify-content: space-around
}

.menu-item {
    list-style-type: none;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #e0e5ec;
    box-shadow: 6px 6px 12px #b8b9be, -6px -6px 12px #ffffff;
    border-radius: 10px;
    height: 50px;
    width: 275px;
    transition: 0.3s ease;
    cursor: default;
}

.menu-item:not(:first-child) {
    cursor: pointer;

}

.menu-item:hover {
    background-color: rgba(125, 128, 133, 0.205);
}

.menu-item>a {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
}

.nav-bar>ol>.menu-item:first-child {
    background-color: transparent;
    box-shadow: none;
}

/* main*/

main {
    padding: 0 50px;
}

.section_container {
    display: grid;
    grid-template-columns: 54% 45%;
    justify-items: center;
    gap: 10px;
}

/*Left section*/

.post {
    display: flex;
    border-radius: 25px;
    padding: 30px;
    margin-bottom: 50px;
    width: 675px;
    background-color: #e0e5ec;
    box-shadow: 6px 6px 12px #b8b9be, -6px -6px 12px #ffffff;
}

.picture_author {
    height: 50px;
    border-radius: 25px;
    margin: 15px;
}

.picture_post {
    width: 700px;
    border-radius: 25px;
    padding: 15px;
}

.top_post {
    display: flex;
    align-items: center;
}

.bottom_post {
    justify-content: end;
    text-align: center;

}

.react {
    display: flex;
    justify-content: flex-end;
    gap: 25px;
    margin-right: 20px;
    padding-bottom: 10px;
}

.react>i {
    cursor: pointer;
}

textarea {
    border-radius: 5px;
    padding: 5px;
    width: 95%;
    max-width: 100%;
    resize: none;
    border: none;
    height: 35px;
}

.comment_input {
    margin: 10px;
}

.pseudo_input {
    border-radius: 5px;
    border: none;
    height: 25px;
    font-size: 1.2rem;
}

.comm_button {
    border: none;
    border-radius: 5px;
    box-shadow: 5px 5px 10px 1px grey;
    padding: 5px;
    cursor: pointer;
}

/*Right section*/

.discussions {
    align-items: center;
    border-radius: 25px;
    padding: 30px;
    background-color: #e0e5ec;
    box-shadow: 6px 6px 12px #b8b9be, -6px -6px 12px #ffffff;
}

.discussion {
    display: flex;
    align-items: center;
    background-color: whitesmoke;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 10px;
}

.picture_discussion {
    height: 50px;
    width: 50px;
    border-radius: 10px;
    margin-right: 15px;
}

.title_discussion,
.name_contact {
    font-weight: 800;
}

.title_discussion {
    font-size: 1.2rem;
    padding-left: 10px;
}

.discussion>button {
    margin-left: auto;
    border: none;
    padding: 5px;
    border-radius: 5px;
    background-color: #e0e5ec;
    box-shadow: 6px 6px 12px #b8b9be, -6px -6px 12px #ffffff;
    cursor: pointer;
}

.discussion>div>p:last-of-type {
    max-width: 385px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*Footer*/

#footer {
    background-color: #e0e5ec;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}

@media (max-width: 1439px) {

    /*header max-1439px*/
    .title {
        font-size: 2rem;
    }

    .menu-item {
        height: 50px;
        width: 175px;
    }

    /* main max-1439px*/

    main {
        padding: 0 20px;
    }

    /*Left section max-1439px*/

    .post {
        padding: 15px;
        width: 500px;
    }

    /*Right section max-1439px*/

    .discussions {
        padding: 10px;
        width: 400px;
    }

    .discussion>div>p:last-of-type {
        max-width: 215px;
    }
}


@media (max-width: 1023px) {

    /*header max-1023px*/
    .title {
        font-size: 1.4rem;
    }

    .menu-item {
        width: 150px;
    }

    /*Left section max-1023px*/

    .post {
        width: 400px;
    }

    /*Right section max-1023px*/

    .discussions {
        width: 300px;
    }

    .discussion>div>p:last-of-type {
        max-width: 125px;
    }
}

@media (max-width: 767px) {
    body {
        padding-top: 5px;
    }

    /*header max-767px*/

    header {
        padding-bottom: 15px;
    }

    .nav-bar>ol {
        display: block;
    }

    .title {
        font-size: 1.4rem;
    }

    .menu-item {
        height: 20px;
        width: 100%;
        margin: 10px 0;
    }

    /* main max-767px*/

    main {
        padding: 0 15px;
    }

    .section_container {
        grid-template-columns: 97% 0%;
    }

    /*Left section max-767px*/

    .post {
        padding: 10px 0px;
        width: 100%;
        height: auto;
        font-size: .8rem;
        margin: 30px 0;
    }

    .picture_author {
        height: 35px;
        margin: 2px;
    }

    /*Right section max-767px*/

    .discussions {
        display: none;
    }

    /*Left section*/

    .picture_author {
        height: 50px;
        border-radius: 25px;
        margin: 15px;
    }

    .picture_post {
        width: 700px;
        border-radius: 25px;
        padding: 15px;
    }

    .comment_input {
        margin: 6px;
        height: 27px;
    }

    .pseudo_input {
        height: 22px;
        font-size: 1rem;
    }

    /*Footer*/

    #footer {
        height: 50px;
        font-size: 1rem;
    }
}