body {
    background-color: whitesmoke;
    padding-top: 30px;
}

/*header*/

header {
    padding-bottom: 30px;
}

.title {
    color: rgba(255, 166, 0, 0.61);
    font-size: 2.5rem;

}

.nav-bar>ol {
    display: flex;
    flex-direction: row;
    justify-content: space-around
}

.menu-item {
    list-style-type: none;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #e0e5ec;
    box-shadow: 6px 6px 12px #b8b9be, -6px -6px 12px #ffffff;
    border-radius: 10px;
    height: 50px;
    width: 350px;
    transition: 0.3s ease;
    cursor: default;
}

.menu-item:not(:first-child) {
    cursor: pointer;

}

.menu-item:hover {
    background-color: rgba(125, 128, 133, 0.205);
}

.menu-item>a {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
}

.nav-bar>ol>.menu-item:first-child {
    background-color: transparent;
    box-shadow: none;
}

/* main*/

main {
    padding: 0 50px;
}

.section_container {
    display: grid;
    grid-template-columns: 65% 25%;
    justify-items: center;
    gap: 10px;
}

/*Left section*/

.post {
    display: flex;
    border-radius: 25px;
    padding: 30px;
    margin-bottom: 50px;
    width: 750px;
    background-color: #e0e5ec;
    box-shadow: 6px 6px 12px #b8b9be, -6px -6px 12px #ffffff;
}

.picture_author {
    height: 50px;
    border-radius: 25px;
    margin: 15px;
}

.picture_post {
    width: 700px;
    border-radius: 25px;
    padding: 15px;
}

.top_post {
    display: flex;
    align-items: center;
}

.bottom_post {
    justify-content: end;
    text-align: center;

}

.react {
    display: flex;
    justify-content: flex-end;
    gap: 25px;
    margin-right: 20px;
    padding-bottom: 10px;
}

.react>i {
    cursor: pointer;
}

textarea {
    border-radius: 5px;
    padding: 5px;
    width: 95%;
    max-width: 100%;
    resize: none;
    border: none;
    height: 35px;
}

.comment_input {
    margin: 10px;
}

.pseudo_input {
    border-radius: 5px;
    border: none;
    height: 25px;
    font-size: 1.2rem;
}

.comm_button {
    border: none;
    border-radius: 5px;
    box-shadow: 5px 5px 10px 1px grey;
    padding: 5px;
    cursor: pointer;
}

/*Right section*/

.discussions {
    align-items: center;
    border-radius: 25px;
    padding: 30px;
    width: 650px;
    background-color: #e0e5ec;
    box-shadow: 6px 6px 12px #b8b9be, -6px -6px 12px #ffffff;
}

.discussion {
    display: flex;
    align-items: center;
    background-color: whitesmoke;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 10px;
}

.picture_discussion {
    height: 50px;
    width: 50px;
    border-radius: 10px;
    margin-right: 15px;
}

.title_discussion,
.name_contact {
    font-weight: 800;
}

.title_discussion {
    font-size: 1.2rem;
    padding-left: 10px;
}

.discussion>button {
    margin-left: auto;
    border: none;
    padding: 5px;
    border-radius: 5px;
    background-color: #e0e5ec;
    box-shadow: 6px 6px 12px #b8b9be, -6px -6px 12px #ffffff;
    cursor: pointer;
}

.discussion>div>p:last-of-type {
    max-width: 400px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*Footer*/

#footer {
    background-color: #e0e5ec;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}